
<script type="text/html" id="Pict_Meta_Container_ReadList">
	<div class="row">
	<div class="pictListHeader">
		<h1 id="TitleText"><%= Meta.DataOperations.Config.EntityTemplateContent.ReadList_Title_Pre %>
		<span class="TitleEmphasis"><%= Meta.DataOperations.Config.EntityTemplateContent.ReadList_Title %></span></h1>
	</div>
	<div class="pictListContainer" id="Container_<%= Meta.DataOperations.Config.DataSetHash %>"> </div>
	</div>
</script>

<script type="text/html" id="Pict_Meta_Container_Read">
	<div class="row">
	<div class="pictReadContainer" id="Container_<%= Meta.DataOperations.Config.DataSetHash %>"> </div>
	</div>
</script>

<script type="text/html" id="Pict_Meta_Container_Update">
	<div class="row">
	<div class="pictUpdateContainer" id="Container_<%= Meta.DataOperations.Config.DataSetHash %>"> </div>
	</div>
</script>

<script type="text/html" id="Pict_Meta_Container_Delete">
	<div class="row">
	<div class="pictDeleteContainer" id="Container_<%= Meta.DataOperations.Config.DataSetHash %>"> </div>
	</div>
</script>
